@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --pink: #E56B6F;
    --rose: #EAAC8B;
    --bg-dark: #527BA0;
    --light-gray: #E0DEDE;
    --menu-height: 75px;    
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    background-color: var(--bg-dark);
}

body, button, input, select, textarea {
    font-family: 'Poppins', sans-serif;
    color:white;
}

h1, h2 {
    margin: 0;
    font-weight: 400;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 24px;
}

p {
    color: var(--light-gray);
}

button {
    background-color: var(--pink);
    border: 0;
    border-radius: 16px;
    padding: 8px 35px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

header {
    height: calc(100vh - var(--menu-height));
    display: flex;
    align-items: center;
}

header .img-container img{
    width: 80%;
    border-radius: 10%;
    margin-bottom: 15%;
}

header .container img {
    display: none;
}

header .container {
    width: 50%;
    padding: 0 100px;
    height: fit-content;
}

header .container h1 {
    color: var(--rose);

}

header .container button {
    margin-top: 40px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--menu-height);
    background: var(--bg-dark);
    padding: 0 100px;
    position: sticky;
    top: 0;

    z-index: 99;
}

nav img {
    height: 45px;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav ul a {
    font-size: 24px;
    color: var(--rose);
    text-decoration: none;
    margin: 0 35px;
}

nav ul a svg {
    display: none;
}

footer {
    text-align: center;
    margin-bottom: 40px;
}

.secondary-button{
    height: 80px;
}

.title-pink {
    color: var(--pink);
}

.title-rose {
    color: var(--rose);
    font-size: 44px;
}

.ola-principal {
    font-size: 24px;
    margin: 0;
    padding: 0;
  }

.about-us{
display: flex;
padding: 100px;

}

.about-us .container{
    width: 50%;
    padding-right: 50px
}

.about-us .img-container{
    width: 50%;
    text-align: center;
    position: relative;
}

.about-us .img-container img{
    width: 70%;
    height: 100%;
    object-fit: cover;
}

.about-us .img-container .line{
    width: calc(70% + 50px);
    height: calc(100% + 50px);
    border: 1px solid var(--light-gray);

    position: absolute;
    top: -25px;
    left: calc(50% - 70%/2 - 25px);
}

.about-us .img-container .line.rose {
transform: rotate(-3.3deg);
color: var(--rose);
}

.line-header {
    color: var(--light-gray);
    width: 90vw;
    margin-top: 5vw;
}

.services {
    text-align: center;
    margin: 150px 0;
    padding: 0 100px;
}

.services-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 60px auto 0;
}

.services .services-container .service-card {
    max-width: 360px;
    border: 1px solid var(--pink);
    border-radius: 16px;
    padding: 40px 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.services .services-container .service-card img {
    margin-bottom: 40px;
    width: 90px;
}

.service-card + .service-card {
    margin-left: 10px;
}

.curriculum {
    padding: 0 100px;
    text-align: center;
}

.curriculum .container {
display: flex;
margin: 50px auto;
max-width: 1200px;
}

.curriculum .container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
}

.curriculum .container .content .curriculum-info {
    display: grid;
    grid-template-columns: 150px auto;
    grid-gap: 1rem;
    margin-bottom: 50px;
}

.contact {
    max-width: 700px;
    margin: 150px auto 70px;
    text-align: center;
    padding: 0 20px;
}

.contact h1 {
width: fit-content;
margin: 0 auto 40px;
}

.contact button {
    margin: 40px auto;
}

.contact .social-media {
max-width: 360px;
margin: 50px auto 0;
display: flex;
justify-content: space-around;

}

.body-formulario {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    }

.contact-form {
    background: #527BA0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.contact-form h2 {
    margin-bottom: 15px;
    text-color: #000000;
}

.contact-form .form-group {
    margin-bottom: 15px;
    text-color: #000000;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #000;
}

.contact-form button {
    padding: 10px 20px;
    background: #28a745;
    border: none;
    border-radius: 3px;
    color: #000;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.contact-form button:hover {
    background: #218838;
}


/*RESPONSIVIDADE*/
/* small desktops */

@media (max-width: 1000px){

    header .container {
        width: 100%;
    }
    nav ul a{
        font-size: 18px;
    }

    nav{
        padding: 0 30px;
    }

    .about-us{
        flex-direction: column;
    }

    .about-us.container, .about-us.img-container{
        width: 100%;
    }

    .about-us.container{
        padding-right: 0;
    }

    .about-us.img-container{
        margin: 70px 0;
    }

    .services {
        padding: 0;
    }

    .services .services-container {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .service-card {
        height: 394px;
    }

    .service-card + .service-card {
        margin-left: 0;
        margin-top: 30px;
    }

    .curriculum .container{
        flex-wrap: wrap;
    }

    .curriculum .container .curriculum-img{
        display: block;
        margin: 0 auto 50px;
        width: 100%;
        max-width: 520px;
    }
}


/* Tablet*/
@media (max-width: 767px){
    
    header .container img{
        display: inline;
        margin-bottom: 70px;
    }

    nav image{
        display: none;
    }
    nav ul{
        padding: 0;
    }

    nav ul a{
        font-size: 16px;
    }
    .services {
        margin: 70px 0;
    }

    .services .services-container {
        padding: 0 20px;
    }
}

/* Celular*/
@media (max-width: 480px){
    header .container {
        padding: 0 40px;
    }

    nav{
        padding: 0 15px;
        position: fixed;
        top: unset;
        bottom: 0;
        width: 100%;
    }
    
    nav ul a{
        font-size: 12px;
    }
    nav ul a svg{
        display: block;
        margin:  0 auto 10px;
    }

    .about-us{
        padding: 40px;
    }

    .curriculum{
        padding: 0, 20px;
    }

    .curriculum .container .content .curriculum-info{
        padding: 0, 15px;
    }
}

.carousel {
    width: 100%;
    overflow: hidden;
  }
  .carousel-content {
    display: flex;
    transition: transform 0.5s ease;
  }
  .carousel-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .carousel-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .carousel-controls button {
    background: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
  }
